<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <h1>Welcome <%= user.username %>!</h1>
  <p>Welcome to our dashboard Menu.</p>
  <div>
    <ul>
      <li>Admission/Registration</li>
      <li>Fess</li>
      <li>Assessments</li>
      <li>Academics</li>
      <li>Relationships</li>
    </ul>
  </div>
  <a href="./logout"><button>Logout</button></a>
</body>

</html>