<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <h1>Welcome <%= user.username %>!</h1>
  <h3>Welcome to our dashboard Menu.</h3>
  <div>
    <ul>
      <li>Admission/Registration</li>
      <li>Fess</li>
      <li>Assessments</li>
      <li>Academics</li>
      <li>Relationships</li>
    </ul>
  </div>
  <a href="./logout"><button>Logout</button></a>

  <footer>
    <p>&copy; School Management System <span id="year"></span></p>
  </footer>
  
  <script>
    document.getElementById("year").innerHTML = new Date().getFullYear();
  </script>
  
</body>

</html>