<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <h1>SCHOOL MANAGEMENT SYSTEM</h1>
  <h3>Welcome to the School Management System</h3>
  <section>
    <div>
      <a href="./signup"><button>SingUp</button></a>
      <a href="./login"><button>LogIn</button></a>
    </div>
  </section>
</body>
</html>